@{
    ViewData["Title"] = "FitFal";
}

<div class="text-center">
    <h1 class="display-4">Najlepsze plany<br>dietetyczne i treningowe</h1>
    <p>FitFal to kompleksowa aplikacja, która umożliwia użytkownikom planowanie i monitorowanie ich diety oraz treningu w sposób efektywny i zorganizowany. Nasza platforma integruje zaawansowane narzędzia do planowania posiłków i treningów, umożliwiając użytkownikom osiągnięcie ich celów fitnessowych.</p>

    <div class="row my-5 align-items-center">
        <div class="col-md-6">
            <h2>Dzięki dziennikowi treningowemu planowanie treningów staje się czystą przyjemnością.</h2>
        </div>
        <div class="col-md-6">
            <img src="~/Images/Gym2.jpg" alt="Gym" class="img-fluid">
        </div>
    </div>

    <p>Z łatwością zapiszesz swoje osiągnięcia, co pomoże Ci w dalszym progresowaniu i osiąganiu nowych celów. Śledzenie postępów jeszcze nigdy nie było tak proste i motywujące. Wzbogać swoje treningi o narzędzie, które wspiera Twój rozwój każdego dnia!</p>
    <img src="~/Images/Dieta.png" alt="FitFal Dieta" class="img-fluid my-4">

    <div class="row my-5 align-items-center">
        <div class="col-md-6 order-md-2">
            <h2>Układanie diety nigdy nie było tak proste.</h2>
        </div>
        <div class="col-md-6 order-md-1">
            <img src="~/Images/Diet.jpg" alt="FitFal Diet" class="img-fluid">
        </div>
    </div>

    <p>Dzięki nam możesz schudnąć, utrzymać wagę lub zbudować masę mięśniową. Oferujemy narzędzia i wskazówki, które pozwolą Ci samodzielnie stworzyć spersonalizowany plan żywieniowy, dostosowany do Twoich indywidualnych potrzeb i celów. Z nami osiągniesz wymarzoną sylwetkę w zdrowy i efektywny sposób.</p>
    <img src="~/Images/Trening.png" alt="FitFal trening" class="img-fluid my-4">
</div>





@* @{ *@
@*     ViewData["Title"] = "FitFal"; *@
@* } *@
@* *@
@* <div class="text-center"> *@
@*     <h1 class="display-4">Najlepsze plany<br>dietetyczne i treningowe</h1> *@
@*     <p>FitFal to kompleksowa aplikacja, która umożliwia użytkownikom planowanie i monitorowanie ich diety oraz treningu w sposób efektywny i zorganizowany. Nasza platforma integruje zaawansowane narzędzia do planowania posiłków i treningów, umożliwiając użytkownikom osiągnięcie ich celów fitnessowych.</p> *@
@* *@
@*     <div class="row my-5 align-items-center"> *@
@*         <div class="col-md-6"> *@
@*             <h2>Dzięki naszemu dziennikowi treningowemu planowanie treningów staje się czystą przyjemnością.</h2> *@
@*         </div> *@
@*         <div class="col-md-6"> *@
@*             <img src="~/Images/Gym2.jpg" alt="Gym" class="img-fluid"> *@
@*         </div> *@
@*     </div> *@
@* *@
@*     <p>Z łatwością zapiszesz swoje osiągnięcia, co pomoże Ci w dalszym progresowaniu i osiąganiu nowych celów. Śledzenie postępów jeszcze nigdy nie było tak proste i motywujące. Wzbogać swoje treningi o narzędzie, które wspiera Twój rozwój każdego dnia!</p> *@
@*     <img src="~/Images/Dieta.png" alt="FitFal Dieta" class="img-fluid my-4"> *@
@* *@
@*     <div class="row my-5 align-items-center"> *@
@*         <div class="col-md-6 order-md-2"> *@
@*             <h2>Układanie diety nigdy nie było tak proste.</h2> *@
@*         </div> *@
@*         <div class="col-md-6 order-md-1"> *@
@*             <img src="~/Images/Diet.jpg" alt="FitFal Diet" class="img-fluid"> *@
@*         </div> *@
@*     </div> *@
@* *@
@*     <p>Dzięki nam możesz schudnąć, utrzymać wagę lub zbudować masę mięśniową. Oferujemy narzędzia i wskazówki, które pozwolą Ci samodzielnie stworzyć spersonalizowany plan żywieniowy, dostosowany do Twoich indywidualnych potrzeb i celów. Z nami osiągniesz wymarzoną sylwetkę w zdrowy i efektywny sposób.</p> *@
@*     <img src="~/Images/Trening.png" alt="FitFal trening" class="img-fluid my-4"> *@
@* </div> *@