@model FitFalMVC.Application.ViewModels.MealVmDirector.ListMealsForListVm

@{
    ViewBag.Title = "Lista posiłków";
    Layout = "_Layout";
}

<h1>Lista posiłków</h1>



<form asp-action="Index" asp-controller="Meal" method="post">

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Nazwa
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var meal in Model.Meals)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelProduct=>meal.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Dodaj produkt", "ListOfProduct", new { mealId = meal.Id })
                        @Html.ActionLink("Szczegóły posiłku", "Details", new { mealId = meal.Id })



                    </td>
                </tr>
            }
            </tbody>
        </table>
            
    </div>
    
</form>



