@using FitFalMVC.Application.ViewModels.ProductVmDirector
@model FitFalMVC.Application.ViewModels.ProductVmDirector.NewProductVm

@{
    ViewBag.Title = "Dodaj produkt";
    Layout = "_Layout";
}

<h2>Dodaj produkt</h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id"/>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nazwa</label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calories" class="control-label">Kalorie</label>
                <input asp-for="Calories" class="form-control"/>
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Protein" class="control-label">Białko</label>
                <input asp-for="Protein" class="form-control"/>
                <span asp-validation-for="Protein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fat" class="control-label">Tłuszcz</label>
                <input asp-for="Fat" class="form-control"/>
                <span asp-validation-for="Fat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carbohydrates" class="control-label">Węglowodany</label>
                <input asp-for="Carbohydrates" class="form-control"/>
                <span asp-validation-for="Carbohydrates" class="text-danger"></span>
            </div>
            <label>*Wartości na 100g</label>


            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary"/>
            </div>
        </form>
    </div>

</div>