@model FitFalMVC.Application.ViewModels.ProductVmDirector.NutritionalValuesVM

<div class="form-group">
    <label asp-for="Calories" class="control-label"></label>
    <input asp-for="Calories" class="form-control"/>
    <span asp-validation-for="Calories" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Protein" class="control-label"></label>
    <input asp-for="Protein" class="form-control"/>
    <span asp-validation-for="Protein" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Fat" class="control-label"></label>
    <input asp-for="Fat" class="form-control"/>
    <span asp-validation-for="Fat" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Carbohydrates" class="control-label"></label>
    <input asp-for="Carbohydrates" class="form-control"/>
    <span asp-validation-for="Carbohydrates" class="text-danger"></span>
</div>